.loading-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-div, .loading-dot{
    width: 50%;
}

.loading-div{
    text-align: right;
}

